トップ画面<br />
<%= @adobe %><br />
<%= link_to "管理画面へ", pages_manage_path %><br />
<% if !@sum.nil? %>
<%= @sum %>
<% else %>
<% @sum = 1 %>
<% end %>

<div class="display-inline">
    <div class="left">
        <!-- 履歴  -->
        <div class="history">
            <h1>History</h1>
            <% if !@markovs.nil? %>
              <% @markovs.each do |markov| %>
                 <%= markov.word %><br />
                 <%= markov.res %><br /><br />
              <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="display-inline">
    <div class="right">
        
        <!--  応答 -->
        <div class="display-inline">
            <div class="response">
                <h1>Response</h1>
                <%= @markov.res if !@markov.nil?%>
            </div>
        </div>
        
        <!-- 画像  -->
        <div class="display-inline">
            <div class="image">
                <h1>Emotion</h1>
                <%  if !@user.nil? && !@sum.nil? %>
                    <% if -2 > @sum.to_d %>
                        <%= image_tag("#{show_image1_user_path(@user)}", :size => "200x200")%>
                    <% elsif @sum.to_d < -1 && @sum.to_d > -2 %>
                        <%= image_tag("#{show_image2_user_path(@user)}", :size => "200x200")%>
                    <% elsif 1 > @sum.to_d && @sum.to_d > -1 %>
                        <%= image_tag("#{show_image3_user_path(@user)}", :size => "200x200")%>
                    <% elsif @sum.to_d > 1 && @sum.to_d < 2 %>
                        <%= image_tag("#{show_image4_user_path(@user)}", :size => "200x200")%>
                    <% elsif @sum.to_d > 2 %>
                        <%= image_tag("#{show_image5_user_path(@user)}", :size => "200x200")%>
                    <% elsif @sum == 1 %>
                        <%= image_tag("#{show_image3_user_path(@user)}", :size => "200x200")%>
                    <% end %>
                <% end %>
            </div>
        </div>
        
        <div class="input">
          <%= form_for :dictionary, url: dictionaries_path do |f| %>
            <p>
              <%= f.text_field :word, class: 'form-control input-sm', style: "width:500px;", :placeholder => "入力してください"%>
              <%= f.hidden_field :sum, :value => @sum %>
            </p>
            
            <p>
              <%= f.submit "話す", class: 'btn btn-primary' %>
            </p>
          <% end %>
        </div>
        
    </div>
</div>
