<div>管理画面</div>



<!--  不機嫌2  -->
<div class="display-inline">
<div class="image">
    <h1>不機嫌2</h1>
    <% @images.each do |img| %>
        <% if img.num == "1" && !img.nil? %>
          <%= image_tag show_image_image_path(img), class: "middle-img" %>
        <% end %>
    <% end %>
    
    <%= form_for(@image) do |f| %>
      <%= f.file_field :file,accept: "image/jpeg" %>
      <%= f.hidden_field :num, :value => "1" %>
      <%= f.submit "設定する" %>
    <% end %>
</div>
</div>

<!--  不機嫌1  -->
<div class="display-inline">
  <div class="image">
    <h1>不機嫌1</h1>
      <% @images.each do |img| %>
          <% if img.num == "2" %>
            <%= image_tag show_image_image_path(img), class: "middle-img" %>
          <% end %>
      <% end %>
      
      <%= form_for(@image) do |f| %>
        <%= f.file_field :file,accept: "image/jpeg" %>
        <%= f.hidden_field :num, :value => "2" %>
        <%= f.submit "設定する" %>
      <% end %>
  </div>
</div>



<!--  普通  -->
<div class="display-inline">
  <div class="image">
      <h1>普通</h1>
      <% @images.each do |img| %>
          <% if img.num == "3" %>
            <%= image_tag show_image_image_path(img), class: "middle-img" %>
          <% end %>
      <% end %>
      
      <%= form_for(@image) do |f| %>
        <%= f.file_field :file,accept: "image/jpeg" %>
        <%= f.hidden_field :num, :value => "3" %>
        <%= f.submit "設定する" %>
      <% end %>
  </div>
</div>


<!--  ご機嫌1  -->
<div class="display-inline">
  <div class="image">
      <h1>ご機嫌1</h1>
      <% @images.each do |img| %>
          <% if img.num == "4" %>
            <%= image_tag show_image_image_path(img), class: "middle-img" %>
          <% end %>
      <% end %>
      
      <%= form_for(@image) do |f| %>
        <%= f.file_field :file,accept: "image/jpeg" %>
        <%= f.hidden_field :num, :value => "4" %>
        <%= f.submit "設定する" %>
      <% end %>
  </div>
</div>

<!--  ご機嫌2  -->
<div class="display-inline">
  <div class="image">
      <h1>ご機嫌2</h1>
      <% @images.each do |img| %>
          <% if img.num == "5" %>
            <%= image_tag show_image_image_path(img), class: "middle-img" %>
          <% end %>
      <% end %>
      
      <%= form_for(@image) do |f| %>
        <%= f.file_field :file,accept: "image/jpeg" %>
        <%= f.hidden_field :num, :value => "5" %>
        <%= f.submit "設定する" %>
      <% end %>
  </div>
</div>