<div>管理画面</div>


<% if !@user.nil? %>
キャラクター名：<%= @user.name %><br />
地域：<%= @user.region %><br />
プロフィール：<%= @user.profile %><br />
合計単語数:<%= @dic.count %><br />
<%= link_to "編集", edit_user_path(@user.id) %>


<!--  不機嫌2  -->
<div class="display-inline">
<div class="image">
    <h1>不機嫌2</h1>
        <%= image_tag("#{show_image1_user_path(@user)}", :size => "200x200")%>
</div>
</div>


<!--  不機嫌1  -->
<div class="display-inline">
  <div class="image">
    <h1>不機嫌1</h1>
        <%= image_tag("#{show_image2_user_path(@user)}", :size => "200x200")%>
  </div>
</div>



<!--  普通  -->
<div class="display-inline">
  <div class="image">
      <h1>普通</h1>
        <%= image_tag("#{show_image3_user_path(@user)}", :size => "200x200")%>
  </div>
</div>


<!--  ご機嫌1  -->
<div class="display-inline">
  <div class="image">
      <h1>ご機嫌1</h1>
        <%= image_tag("#{show_image4_user_path(@user)}", :size => "200x200")%>
  </div>
</div>

<!--  ご機嫌2  -->
<div class="display-inline">
  <div class="image">
      <h1>ご機嫌2</h1>
        <%= image_tag("#{show_image5_user_path(@user)}", :size => "200x200")%>
  </div>
</div>

<!--  ご機嫌2  -->
<div class="display-inline">
  <div class="image">
      <h1>進化</h1>
        <%= image_tag("#{show_evo_user_path(@user)}", :size => "200x200")%>
  </div>
</div>

<% end %>

<%= line_chart @chart_data %>
